<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tykle">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--<uses-permission android:name="android.permission.READ_CONTACTS" />-->
    <!--<uses-permission android:name="android.permission.WRITE_CONTACTS" />-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".util.App"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.privacyPolicyActivity">

        </activity>
        <activity android:name=".activity.TermAndConditionActivity">

        </activity> <!-- Splash Activity -->
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- WalktThroughActivity -->
        <!-- LoginActivity -->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" /> <!-- SignupActivity -->
        <activity
            android:name=".activity.SignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".activity.OtpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".activity.ProfileQuestionActivity" />
        <activity android:name=".activity.AboutMeActivity" /> <!-- Home Activity -->
        <activity
            android:name=".activity.InterestActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" /> <!-- PeopleDetialActivity -->
        <activity
            android:name=".activity.PeopleDetialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PeopleActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.NavProfile" />
        <activity
            android:name=".activity.EditProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes" /> <!-- change password -->
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes" /> <!-- PaymentActivity -->
        <activity
            android:name=".activity.PaymentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes" /> <!-- ChatActivity -->
        <activity
            android:name=".activity.ContactUS"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes" />
        <activity
            android:name=".activity.HelpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes" /> <!-- MatchesRequestActivity -->
        <activity
            android:name=".activity.MatchesRequestsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes" />
        <activity android:name=".activity.PersonalInformation" />
        <activity
            android:name=".activity.ForgotPassword"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes" />

        <!--<meta-data-->
            <!--android:name="com.facebook.sdk.ApplicationId"-->
            <!--android:value="@string/facebook_app_id" />-->

        <!--<activity-->
            <!--android:name="com.facebook.FacebookActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"-->
            <!--android:label="@string/app_name"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar"-->
            <!--tools:replace="android:theme" />-->

        <!--<provider-->
            <!--android:name="com.facebook.FacebookContentProvider"-->
            <!--android:authorities="com.facebook.app.FacebookContentProvider2110948789183203"-->
            <!--android:exported="true" />-->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SelectUsersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChatInfoActivity"
            android:label="@string/chat_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AttachmentImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activity.DialogsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ChatActivityTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- Firebase Notifications -->
        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service> <!-- /Firebase Notifications -->
        <service
            android:name=".service.ExitService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />

        <activity android:name=".activity.ProfileActivity" />
        <activity android:name=".activity.MatchActivity" />
        <activity android:name=".activity.NotificationsActivity" />
        <activity android:name=".activity.UserProfileActivity" />
    </application>

</manifest>